* {
  margin: 0;
}
.header{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.youtube-logo {
    margin-top: 2px;
    margin-left: 4px;
    height: 20px;
  }
  .search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 20rem;
  }
  
  .search-input {
    width: 60%;
    height: 85%;
    font-size: 14px;
    border: 1px solid #777;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  
  .search-btn {
    height: 85%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #777;
    background-color: #F8F8F8;
    border-left: none;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  
  .search-btn:hover {
    background-color: #F0F0F0;
  }
  .menu-icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 1.5rem;
  }
  
  .menu-channel-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
    margin-right: 20px;
  }